@import '../../../globalStyles/variables';
@import '../../../globalStyles/functions';
@import '../../../globalStyles/mixins';


.tab{
    color: $gray900-60opacity;
    font-size: toRem(16);
    padding: toRem(10);
    background-color: transparent;
    border-bottom: 2px solid $black-12opacity;
    cursor: pointer;

    @include mdMinBreakPoint{
        padding: toRem(16);
    }

    &:hover{
        color: $gray900-87opacity;
    }

    &--selected{
        color: $blue400;
        border-bottom: 2px solid $blue400;

        &:hover{
            color: $blue400;
        }
    }
}