@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.select {
    display: flex;
    flex-direction: column;
    position: relative;
}

.select__button {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.12);
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 9.375rem;
}

.select ul {
    display: none;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
    border-radius: 0.5rem;
}

.select ul li {
    padding: 1rem 0.75rem;
    cursor: pointer;
    list-style-type: none;
}

.select--open .select__button {
    border: 0.0625rem solid #42A5F5;
}

.select--open .select__button svg {
    transform: rotate(180deg);
}

.select--open ul {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: #FFFFFF;
    top: 3.375rem;
}

.select--open ul li:hover {
    background-color: #42A5F5;
    color: #FFFFFF;
}

.select--open ul li:first-child:hover {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.select--open ul li:last-child:hover {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}