.empty-state {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;
}

.empty-state__image svg {
    fill: none;
}