@import '../../../globalStyles/variables';
@import '../../../globalStyles/functions';

.button{
	padding: toRem(12) toRem(19);
	border-radius: toRem(56);
	outline: none;
	border: none;
	cursor: pointer;
	font-family: $primary-font;
	font-size: toRem(16);
	line-height: toRem(24);
	background-color: transparent;

	&--primary{
		background-color: $blue400;
		color: $white;
        display: flex;
        align-items: center;
		justify-content: center;
		&:hover{
			background-color: $blue500;
		}
        svg{
			width: toRem(18);
            height: toRem(18);
            fill: $white;
			margin-right: toRem(10);
		}
	}

	&--ghost{
		color: $gray600;
		&:hover{
			color: $gray900-87opacity;
		}
	}

	&--danger{
		background-color: $red400;
		color: $white;
		&:hover{
			background-color: $red500;
		}
	}

	&--icon{
		// height:toRem(40);
		// width: toRem(40);
		padding: toRem(8);
		display: flex;
		align-items: center;
		justify-content: center;
		svg{
			width: toRem(24);
            fill: $gray600;
            height: toRem(24);
		}
		&:hover{
			background-color: $black-12opacity;
		}
	}
}