@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.input {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 0.0625rem solid;
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.input:active {
    border: 0.0625rem solid;
}

.input--with-icon {
    background-repeat: no-repeat;
    background-position: 0.625rem;
    padding-left: 2.5rem;
}