@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.category {
    padding: 0.75rem 1rem;
    border-radius: 1.75rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
}

.category--personal {
    background-color: #FFCC80;
    color: #E65100;
}

.category--home {
    background-color: #A5D6A7;
    color: #1B5E20;
}

.category--homework {
    background-color: #B39DDB;
    color: #4527A0;
}