@import '../../../globalStyles/mixing.css';

.filters {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
}

@media (min-width: 48rem) {
    .filters {
        flex-direction: row;
        align-items: center;
    }
}

.tabs-container {
    margin: 1.875rem 0;
}

.tabs-container__show-completed .button:hover {
    background-color: transparent;
}